useDynLib("FLRP")
import("FLCore")	
import("ggplotFL")
importFrom("methods",
  "as",
  "callNextMethod",
  "getSlots",
  "is",
  "new",
  "slot",
  "slot<-",
  "validObject")
importFrom("graphics",
  "lines", 
  "par", 
  "points", 
  "polygon")
importFrom("stats",
  "acf",
  "coefficients",
  "fft",
  "formula",
  "hat",
  "lm",
  "optimise",
  "qqnorm",
  "rstandard",
  "runif", 
  "spline")
importFrom("utils",
  "read.csv",
  "unstack")
exportClasses(
  "FLBRP",
  "FLBRPs")
exportMethods(
  "biomass.obs",
  "bmsy",
  "brp",
  "catch.n",
  "catch.obs",
  "catch.sel",
  "catch.wt",
  "coerce",
  "discards.n",
  "FLBRP",
  "fmsy",
  "hcrYield",
  "iter",
  "landings.n",
  "msy",
  "propagate",
  "sbmsy",
  "stock.n",
  "summary",
  "yield.obs",
  "ypr"
)
